@import './styles/mediaPC.css';
@import './styles/mediaMobile.css';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    color-scheme: light dark;
    
}

:root{
    --bg-white: #f7f7f7;
    --bg-black: #111010;
    --bg-header:#0a1b1d; 
    --textColor-white: #dfd4d4;
    --textColor-black: #1f1e1e;
    --title-size: 20px;
    width: 100vw;
    height: 100vh;
    color-scheme: light dark;
}

@media (prefers-color-scheme: ligth) {
    .body{
        color: var(--textColor-black);
        background-color: var(--bg-white);
    }
}
@media (prefers-color-scheme: dark) {
    .body{
        color: var(--textColor-white);
        background-color: (var(--bg-black));
    }
}

body{
    overflow-x:hidden;
    width: 100vw;
    
    background-color: light-dark(var(--bg-white), var(--bg-black));
    color: light-dark(var(--textColor-black), var(--textColor-white));
}


#header{
    width: 100vw;
    height: 80px;
    background-color: var(--bg-header);
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
    
}
#header_container{
    width: 1440px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: #dfd4d4;
}
#header_name:hover{
    color: #e66465;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    gap: 1.8rem;
}
nav a {
    color: #dfd4d4;
    text-decoration: none;
}
nav a:hover{
    scale: 1.2;
    transition: 1.2s;
    color: #e66465;

}

header .nav-btn{
    
    padding: 10px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #f7f7f7;
    visibility: hidden;
}

@media (min-width:320px) and (max-width:798px){
    header .nav-btn {
        visibility: visible;
        
    }
}





#picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    
}
#picture img{
    width: 300px;
    height: 300px;
    border-radius: 1000px;
    margin: 10px;
    border: #aa9b9b solid;
    box-shadow:  10px 10px 25px #e7e1e1 ;
   
}

.redes_Btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.2rem;
    margin: 15px;
    
}
.redes_Btn img{
    width: 30px;
    height: 30px;
}
.redes_Btn a:hover{
    scale: 1.2;
    transition: 1s;
}

.title{
    margin-bottom: 15px;
    font-size: 2rem;
}

#aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0;
    border-radius: 50px;
    
}

#aboutme p{
    margin: 0 10px;
    padding: 15px;
    font-size: 1.3rem;
    font-family: 'monospace' ;
}

#tecnologys {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    font-size: 1.2rem;
    gap: 2rem;
}



#list_Tecnologys ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;    
    
}
#list_Tecnologys li{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px

}
#list_Tecnologys img{
    width: 50px;
    height: 50px;
    gap: 1;
}


#HTML {  background-color: rgb(235, 73, 24); }
#CSS { background-color: rgb(38, 73, 226); }
#JAVASCRIPT{  background-color: rgb(212, 212, 33);}
#TYPESCRIPT{background-color: rgb(23, 144, 214); }
#REACT{ background-color: rgb(0, 174, 255); }
#SASS{background-color: rgb(224, 32, 138); }
#TAILWIND{background-color: rgb(9, 146, 146); }
#FIGMA{background-color: gray; }

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container_projects{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
#container_projects a {
    text-decoration: none;
}
.swiper{
    max-width: 1440px;
}

.Card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-white);
    width: 260px;
    height: 350px;
    margin: 25px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
}

.Card img{
    width: 100%;
    height: 300px;
    border-radius: inherit;
    
}

.Card:hover{
    scale: 1.1;
    transition: 0.8s ease-in;
    box-shadow:  10px 10px 25px #e7e1e1 ;
}

.Card h3{
    color: black;
}

.Card p {
    color: #d8caca;
    background-color: rgb(13, 10, 15);
    width: 60%;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
}
.Card h5 {
    font-size: 1.2rem;
    color: #222222;
    padding: 10px;
}

.Card p{
    animation: elastic 3s linear infinite;
}

.tecnologys-used {
    gap: 1.5rem;
    margin: 10px;
    padding: 8px;
    background-color: #222222;
}
.list_tec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}




@keyframes elastic {
    0% {
        transform: scale(1,1);
    }
    25%{
        transform: scale(1.16);
    }
    50%{
        transform: scale(1.15);
    }
    100% {
        transform: scale(1,1);
    }
    
}


